

<html>
<a href="items/new">So you want to add a new dish?</a>
<ul>
  <% @items.each do |item| %>
    <li><%= item.name %> - <a href="/items/<%= item.id %>">Show Item</a></li>
  <% end %>
</ul>
</html>
