<html>

<form action="/items" method="post">
  <p>Name of item</p>
  <input type="text" name="name"><br/>
  <input type="submit" value="submit">
</form>
<hr>
<!--<form action="" method="post">-->
  <!--<label for="POST-name">Name:</label>-->
  <!--<input id="POST-name" type="text" name="name">-->
  <!--<input type="submit" value="Save">-->
<!--</form>-->
</html>